package script.db

databaseChangeLog(logicalFilePath: 'script/db/${tableName}.groovy') {
    changeSet(author: "${author}", id: "${datetime}-${tableName}") {
        createTable(tableName: "${tableName}" remarks: "${tableComment}") {
#foreach ($column in $columns)
        column(name: "$column.columnName", type: "$column.columnType",#if($column.extra == "auto_increment") auto_increment:"true" #end #if($column.columnDefault != "NULL") #if($column.columnType == "datetime") defaultValueComputed:"$column.columnDefault" #else defaultValue:"$column.columnDefault" #end #end remarks: "$column.comments") #if($column.columnName == $pk.columnName){constraints(primaryKey: true)} #else #if($column.nullAble == 'NO'){constraints(nullable:"false")} #end #end

#end

    }
#foreach ($index in $indexs)
#if($index.indexType == "N")
   createIndex(tableName: "$index.tableName", indexName: "$index.indexName") {
     #foreach ($indexCol in $index.indexColumns)
       column(name: "$indexCol")
     #end
   }          
#end
#end
  }    
  
#foreach ($index in $indexs)
#if($index.indexType == "U")
   addUniqueConstraint(columnNames:"$index.indexColumn",tableName:"$index.tableName",constraintName: "$index.indexName")         
#end
#end    

}