package ${package}.dto;

import javax.persistence.Column;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.Table;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Table(name = "${tableName}")
public class ${className} implements Serializable {

	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
    public static final String FILED_$column.upperColumnName = "$column.attrname"; // $column.comments
#end

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	#if($column.columnName == $pk.columnName)
@Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    #else
@Column
	#end
private $column.attrType $column.attrname;

#end

#foreach ($column in $columns)

	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}

	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
