package ${package}.service;

import ${package}.core.IService;
import ${package}.dto.${className};

/**
 * ${comments}服务接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service extends IService<${className}> {

}

