package ${package}.mapper;

import ${package}.core.Mapper;
import ${package}.dto.${className};

/**
 * ${comments}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends Mapper<${className}> {
	
}
